#main-container {
    height: 1fr;
    layout: horizontal;
}

#sidebar {
    width: 35;
    height: 1fr;
    dock: left;
    border: round $panel;
}

#sidebar:focus {
    border: round $accent;
}

#track-list {
    height: 1fr;
    width: 1fr;
    background: $background;
    border: round $panel;
}

#track-list:focus {
    border: round $primary;
}

#queue-panel {
    width: 35;
    height: 1fr;
    dock: right;
    border: round $panel;
    display: none;
}

#queue-panel.-visible {
    display: block;
}

#queue-panel:focus {
    border: round $primary;
}

#queue-table {
    height: 1fr;
    width: 1fr;
    background: $background;
}
